<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923510428032-sukdq6rrekb4d9t4s4a1fhkii4vi7dq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923510428032-sukdq6rrekb4d9t4s4a1fhkii4vi7dq9</string>
	<key>API_KEY</key>
	<string>AIzaSyCUyHyr9iDmK4DVVxe7eX9zZvN6_q-RdhM</string>
	<key>GCM_SENDER_ID</key>
	<string>923510428032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.example.beerapp.dev</string>
	<key>PROJECT_ID</key>
	<string>beer-app-8634a</string>
	<key>STORAGE_BUCKET</key>
	<string>beer-app-8634a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923510428032:ios:c2b2f26db2c0c79d99f165</string>
</dict>
</plist>